body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 60vh;  /* Updated Jess Reed from 90vh, so the Submit button stays above the fold */
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

/* Style refinements by Jess Reed.  See also textarea above */

/* Form Styles */

input, label {
    display: block;
}

input[type="text"] {
    width: 80%;
}

label {
    margin-top: 1rem;
    font-weight: bold;
    color: #4F4F4F;
}

/* Search box in the sidebar */
.sidebar form input {
    margin-bottom: 1rem;
    width: 100%
}

textarea {
    border-style: inset;
}

/* Images on error pages */

figure {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

figure img {
    max-width: 75vh;
}

